.cart-container {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Agregado para centrar horizontalmente */
}

.cart-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-container p {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}

.cart-container img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
}

.cart-container ul {
  list-style: none;
  padding: 0;
}

.cart-container ul li {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-container ul li p {
  margin: 0;
  font-weight: bold;
}

.cart-container ul li img {
  max-width: 80px;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}