.container-nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #1A0E62;
}
.container-nav img{
    padding: 10px 10px;
    width: 18%;
    height: 210px;
}
 .list-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    list-style: none;

}
.list-buttons .button-link{
    background: #FECA05;
    cursor: pointer;
    border: none;
    padding: 3px 32px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    border-radius: 12px;
    transition: (0,25s);
}
.button-link:hover{
    transform: scale(1.10);
    background-color: #1A0E62;
    color: #FECA05;

}
.button-link a{
text-decoration: none;
color: azure;
}
.button-link a:hover{
    color: #FECA05;
    }



.input-busqueda{
    display: flex;
    align-items: center;  
    gap: 10px;
}
.input-busqueda input{
    padding: 10px;
}
.input-busqueda svg{
    color: azure;
}